<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "co.prueba.phonegap"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Prueba LinkedIn</name>

    <description>
        Probando login linkedin. 
    </description>
    <preference name="fullscreen" value="false" />
    <author href="https://www.vlaguzman.com" email="vlaguzman@conectandomentes.com">
        Vladimir Guzmán Mendoza
    </author>

    <icon src="img/logo.png" gap:role="default" />

</widget>